{% extends "layout.html" %}

{% block title %}
    Enter Visit Details
{% endblock %}

{% block main %}
    {% if user.is_authenticated %}
        <h5>Location Details Added</h5>
        <form action="{% url 'add_visit' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper form-group" aria-required="true">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <button class="btn link-button" type="submit" value="Submit">Add Visit</button>
        </form>
    {% endif %}
{% endblock %}