{% extends "layout.html" %}

{% block title %}
    Clustering
{% endblock %}

{% block main %}
    <h2>Clustering</h2>
    <br/>
    <form method="post" action="{% url 'clustering' %}">
        {% csrf_token %}
        <div class="fieldWrapper form-group">
            <label for="D_Field">Inter-location Distance Threshold (<strong>D</strong>):</label>
            <input type='text' class="form-control" name='D' placeholder="Enter a number" id="D_Field" value="{{D}}" required></input>
        </div>
        <div class="fieldWrapper form-group">
            <label for="T_Field">Proximity in Time Threshold (<strong>T</strong>):</label>
            <input type='text' class="form-control" name='T' placeholder="Enter a number" id="T_Field" value="{{T}}" required></input>
        </div>
        <div class="fieldWrapper form-group">
            <label for="C_Field">Minimum Cluster Size (<strong>C</strong>):</label>
            <input type='text' class="form-control" name='C' placeholder="Enter a number" id="C_Field" value="{{C}}" required></input>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>


    {% for cluster in clusters %}
        <h4 class='text-center'>Cluster {{ forloop.counter }}</h4>
        <table class="table table-bordered table-hover" id="ResultTable">
            <thead class='thead-dark'>
                <tr>
                    <th scope="col" class='align-middle'>Location Name</th>
                    <th scope="col" class='align-middle'>X</th>
                    <th scope="col" class='align-middle'>Y</th>
                    <th scope="col" class='align-middle'>Date of Visit</th>
                    <th scope="col" class='align-middle'>Case Number</th>
                </tr>
            </thead>
            <tbody>
                {% for row in cluster %}
                    <tr>
                        <td>{{row.location}}</td>
                        <td>{{row.x}}</td>
                        <td>{{row.y}}</td>
                        <td>{{row.date}}</td>
                        <td>{{row.caseNo}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% empty %}
        <div class="alert alert-danger" role="alert">
            No clusters identified with the given settings.
        </div>
    {% endfor %}


    <button class="btn search"><a href="{% url 'index' %}">Back</a></button>

{% endblock %}