{% extends "layout.html" %}

{% block title %}
    Error
{% endblock %}

{% block main %}
    <div class="alert alert-danger" role="alert">
        {% if back %}
            Error 400: Bad Reqest! Please try another location.
        {% else %}    
            {{message}}
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        {% if back %}
        <button class="btn search"><a href="javascript:history.go(-1)">Back</a></button>
        {% endif %}
        <button class="btn search"><a href="{% url 'index' %}">Home</a></button>
    {% else %}
        <button class="btn search"><a href="{% url 'login' %}">Return to Login page</a></button>
    {% endif %}
{% endblock %}
