{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    {% if user.is_authenticated %}
        <button class="btn view"><a href="{% url 'list_location' %}">View Locations</a></button>
        <button class="btn view"><a href="{% url 'list_cases' %}">View Cases</a></button>
        <button class="btn view"><a href="{% url 'clustering' %}">Clustering</a></button>
    {% else %}
    <div class="alert alert-danger" role="alert">
        Please login to access this page!
    </div>
    <button class="btn search"><a href="{% url 'login' %}">Return to Login page</a></button>
    {% endif %}
{% endblock %}
