{% extends "layout.html" %}

{% block title %}
    Results
{% endblock %}

{% block main %}

    <h2>Saved Cases</h2>

    <p>Search by:
        <input class="form-control mb-3" type="text" id="myInput1" onkeyup="myFunction1()" placeholder="Case Number">
        <input class="form-control mb-3" type="text" id="myInput2" onkeyup="myFunction2()" placeholder="ID Document Number">
        <input class="form-control mb-3" type="text" id="myInput3" onkeyup="myFunction3()" placeholder="Name">
    </p>


    <form action="{% url 'view_case' %}" method="post">
        {% csrf_token %}
        {{ form }}
    <table class="table table-bordered table-striped" id="myTable">
        <thead class='thead-dark'>
            <tr>
                <th scope="col" class='align-middle'>Case Number</th>
                <th scope="col" class='align-middle'>Patient ID</th>
                <th scope="col" class='align-middle'>Patient Name</th>
                <th scope="col" class='align-middle'>Virus</th>
                <th scope="col" class='align-middle'>Date Confirmed</th>
                <th scope="col" class='align-middle'>Case Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if empty == True %}
            <tr>
                <td colspan="7" id="emptyTable">No data to display</td>
            </tr>
            {% else %}
                {% for row in data %}
                <tr>
                    <!-- <td><input type="radio" name="choice" id="choice{{ forloop.counter0 }}" value="{{ forloop.counter0 }}"></td> -->
                    <td>{{row.pk}}</td>
                    <td>{{row.patient.idNumber}}</td>
                    <td>{{row.patient.name}}</td>
                    <td>{{row.virus}}</td>
                    <td>{{row.dateConfirmed|date:"d/m/Y" }}</td>
                    <td>{{row.caseType}}</td>
                    <td><button name="choice" class="btn btn-dark" type="submit" id="choice{{ forloop.counter0 }}" value="{{ forloop.counter0 }}">Select</button></td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <button class="btn"><a href="{% url 'index' %}">Back</a></button>
    {% if empty == False %}
        <button class="btn link-button" type="submit" value="View Case">View Case</button>
    {% endif %}
    </form>

    <script>
        // If data is empty, disbale the text fields
        try{
            if (document.getElementById("emptyTable").innerText == "No data to display") {
                document.getElementById("myInput1").disabled = true
                document.getElementById("myInput2").disabled = true
                document.getElementById("myInput3").disabled = true
            }
        } catch(err) {
            console.log(err)
        }

        function myFunction1() {
            // Declare variables 
            var filter, table, tr, td, i, txtValue;
            input1 = document.getElementById("myInput1");
            input2 = document.getElementById("myInput2");
            input3 = document.getElementById("myInput3");
            
            input2.value = ""
            input3.value = ""

            filter = input1.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
        
            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
                } 
            }
        }

        function myFunction2() {
            // Declare variables 
            var input, filter, table, tr, td, i, txtValue;
            input1 = document.getElementById("myInput1");
            input2 = document.getElementById("myInput2");
            input3 = document.getElementById("myInput3");
            
            input1.value = ""
            input3.value = ""
            
            filter = input2.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
        
            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
                } 
            }
        }

        function myFunction3() {
            // Declare variables 
            var input, filter, table, tr, td, i, txtValue;
            input1 = document.getElementById("myInput1");
            input2 = document.getElementById("myInput2");
            input3 = document.getElementById("myInput3");
            
            input1.value = ""
            input2.value = ""
            
            filter = input3.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
        
            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
                } 
            }
        }
    </script>

{% endblock %}
