{% extends "layout.html" %}

{% block title %}
    Results
{% endblock %}

{% block main %}
    {% if user.is_authenticated %}
    <h2>Saved Locations</h2>
    
    <input class='form-control mb-3' type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for a place...">
    
    <br/>
    <table class="table table-bordered" id="myTable">
        <thead class="thead-light">
            <tr>
                <th scope="col" class='align-middle'>Name</th>
                <th scope="col" class='align-middle'>Address</th>
                <th scope="col" class='align-middle'>X-Coordinate</th>
                <th scope="col" class='align-middle'>Y-Coordinate</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{row.name}}</td>
                <td>{{row.address}}</td>
                <td>{{row.x}}</td>
                <td>{{row.y}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn search"><a href="{% url 'index' %}">Go Home</a></button>

    <script>
        function myFunction() {
            console.log('hi')
            // Declare variables 
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
        
            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
                } 
            }
        }
    </script>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Please login to access this page!
        </div>
        <button class="btn search"><a href="{% url 'login' %}">Return to Login page</a></button>
    {% endif %}
{% endblock %}
