{% extends "layout.html" %}

{% block title %}
    Search Locations
{% endblock %}

{% block main %}

    <form action="{% url 'search_location' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper form-group" aria-required="true">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <button class="btn"><a href="{% url 'view_case' %}">Back</a></button>
        <button class="btn link-button" type="submit" value="Submit">Submit</button>
    </form>

{% endblock %}
