{% extends "layout.html" %}

{% block title %}
    Results
{% endblock %}

{% block main %}
    <h2>Case Details</h2>
    {% if showMsg %}
    <br/>
    <div class="alert alert-success" role="alert">
        Successfully saved Visit data
    </div>
    {% endif %}
    <br/>
    
    <div class='row'>
        <div class='col'>
            <h4 class='text-center'>Case</h4>
            <table class='table table-bordered'>
                <thead class='thead-dark'>
                    <tr>
                        <th scope='col' class='align-middle'>Case No.</th>
                        <th scope='col' class='align-middle'>Date Confirmed</th>
                        <th scope='col' class='align-middle'>Case Origin</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in caseData %}
                    <tr>
                        <td>{{row.pk}}</td>
                        <td>{{row.dateConfirmed}}</td>
                        <td>{{row.caseType}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='col'>
            <h4 class='text-center'>Patient</h4>
            <table class='table table-bordered'>
                <thead class='thead-dark'>
                    <tr>
                        <th scope='col' class='align-middle'>Patient Name</th>
                        <th scope='col' class='align-middle'>ID Number</th>
                        <th scope='col' class='align-middle'>Date of Birth</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in caseData %}
                    <tr>
                        <td>{{row.patient.name}}</td>
                        <td>{{row.patient.idNumber}}</td>
                        <td>{{row.patient.dateOfBirth}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='col'>
            <h4 class='text-center'>Virus</h4>
            <table class='table table-bordered'>
                <thead class='thead-dark'>
                    <tr>
                        <th scope='col' class='align-middle'>Virus Name</th>
                        <th scope='col' class='align-middle'>Common Name</th>
                        <th scope='col' class='align-middle'>Max. Period</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in caseData %}
                    <tr>
                        <td>{{row.virus.name}}</td>
                        <td>{{row.virus.commonName}}</td>
                        <td>{{row.virus.maxInfectiousPeriod}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    {% if visitData %}
    <h4 class='text-center'>Visits</h4>
    <table class='table table-bordered'>
        <thead class='thead-dark'>
            <th scope='col' class='align-middle'>Location</th>
            <th scope='col' class='align-middle'>Address</th>
            <th scope='col' class='align-middle'>X</th>
            <th scope='col' class='align-middle'>Y</th>
            <th scope='col' class='align-middle'>Date From</th>
            <th scope='col' class='align-middle'>Date To</th>
            <th scope='col' class='align-middle'>Category</th>
        </thead>
        <tbody>
            {% for row in visitData %}
            <tr>
                <td>{{row.location.name}}</td>
                <td>{{row.location.address}}</td>
                <td>{{row.location.x}}</td>
                <td>{{row.location.y}}</td>
                <td>{{row.dateFrom}}</td>
                <td>{{row.dateTo}}</td>
                <td>{{row.category}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <strong>No visit data recorded.</strong>

    {% endif %}
    <br/>
    <button class="btn"><a href="{% url 'list_cases' %}">Back</a></button>
    <button class="btn"><a href="{% url 'index' %}">Home</a></button>
    <button class="btn"><a href="{% url 'search_location' %}">Add Visit</a></button>

{% endblock %}
