{% extends "layout.html" %}

{% block title %}
    Results
{% endblock %}

{% block main %}
    <h2>Case Details</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Case Number</th>
                <th scope="col">Patient ID</th>
                <th scope="col">Patient Name</th>
                <th scope="col">Virus</th>
                <th scope="col">Date Confirmed</th>
                <th scope="col">Case Type</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{row.pk}}</td>
                <td>{{row.patient.idNumber}}</td>
                <td>{{row.patient.name}}</td>
                <td>{{row.virus}}</td>
                <td>{{row.dateConfirmed}}</td>
                <td>{{row.caseType}}</td>
                <td>
                    <form action="{% url 'search_location' %}" method="GET">
                        <input type="submit" value="Add Visit">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
